.exhibition-card {
    border: 3px solid black; 
    width: 300px;
    padding: 10px;
    margin: 10px;
}

.save-button{
    margin: 3px
}

.save-button.remove-state {
    background-color: purple;
    color: white;
}

