.exhibition-card-container {
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 300px;
    padding: 10px;
    margin: 10px;
    background-color: #fff; 
    transition: box-shadow 0.3s ease;
}

.exhibition-card {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    padding: 20px; 
    box-sizing: border-box; 
    text-align: center; 
}

.image-container {
    position: relative; 
    overflow: hidden; 
    border-radius: 10px 10px 0 0;
}

.hover-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 0; 
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.image-container:hover .hover-description {
    opacity: 1;
    transform: translateY(0);
}

.button-container {
    display: flex; 
    flex-direction: row;
    gap: 10px; 
    margin-top: 10px; 
}

.exhibition-info-button,
.save-button {
    background-color: #A0D6B4;
    color: black;
}

.save-button.remove-state {
    background-color: #468189;
    color: white;
}