.exhibitions-container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    justify-content: center; 
    padding: 20px;
}

.exhibition-cards{
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: scroll; 
    gap: 20px; 
    padding: 10px;
}

.exhibition-card-container {
    flex: 0 0 auto; /* Prevent shrinking, each card takes its space */
    width: 300px; /* Fixed width for cards */
}