.exhibitions-container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    justify-content: center; 
    padding: 20px;
    height: 100vh; 
    overflow-y: hidden; 
}

.exhibition-cards {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 10px;
    width: auto; 
    overflow-x: auto;
}

.exhibition-card-container {
    flex: 0 0 auto; 
    width: 400px; 
}